<ion-view style="margin-top:10%">
  <form name="addResourceForm" ng-submit="addResource()">
    <div class="list list-inset" id="createclubForm">
      <label class="item item-input">
        <input type="text" placeholder="Resource Name" ng-model="resourceName" required>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input padding">
        <textarea placeholder="Description" rows="10" ng-model="resourceDescription" required>
        </textarea>
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-positive"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add Resources</button>
    </div>
  </form>
</ion-view>
