<ion-view>
<ion-list show-delete="false" can-swipe="true" ng-repeat="item in items" >
  <ion-item class="item item-avatar">
    <img src="./img/person.png">
  <h2><b>{{item.first}} {{item.last}}</b></h2>
    <ion-option-button  ng-click="add({{item.id}}); items.splice($index, 1)"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></ion-option-button>
    <ion-option-button class="button-assertive" ng-click="delete({{item.id}}); items.splice($index, 1)"><i class=" fa fa-trash-o fa-2x" aria-hidden="true"></i></ion-option-button>
  </ion-item>
</ion-list>
<div class="card" id="noMember">
  <div class="item item-text-wrap">
   <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>  <b>There is no pending member</b>
  </div>
</div>
</ion-view>
