<ion-view view-title="Register" name="register-view">

    <div class="row" id="head">
      <div class="col col-offset-33" id="logo">Estalaf</div>
    </div>
    <div class="row">
      <div class="col col-offset-20"> Sign Up with an Email address</div>
    </div>
    <form name="regForm" ng-submit="regForm.$valid && regSubmit()" novalidate>
      <div class="list padding-horizontal">
        <label class="item item-input item-floating-label" ng-class="{regfail:(regForm.regFirstname.$dirty && regForm.regFirstname.$invalid)||(regForm.regFirstname.$pristine && regForm.$submitted),regsuccess:regForm.regFirstname.$dirty && regForm.regFirstname.$valid}">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" name="regFirstname" class="input" ng-model="firstName" ng-pattern="/^[a-zA-Z]*$/" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{regfail:(regForm.regLastname.$dirty && regForm.regLastname.$invalid)||(regForm.regLastname.$pristine && regForm.$submitted),regsuccess:regForm.regLastname.$dirty && regForm.regLastname.$valid}">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" name="regLastname" class="input" ng-model="lastName" ng-pattern="/^[a-zA-Z]*$/" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{regfail:(regForm.regEmail.$dirty && regForm.regEmail.$invalid) || (regForm.regEmail.$pristine && regForm.$submitted),regsuccess:regForm.regEmail.$dirty && regForm.regEmail.$valid}">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" name="regEmail" class="input" ng-model="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{regfail:(regForm.regPassword.$dirty && regForm.regPassword.$invalid)||(regForm.regPassword.$pristine && regForm.$submitted),regsuccess:regForm.regPassword.$dirty && regForm.regPassword.$valid}">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" name="regPassword" class="input" on-touch="passwordTouch()" ng-model="password" ng-Minlength="6" ng-Maxlength="12" ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!,@,$,%,&,?])/" required>
        </label>
      </div>

      <div class="padding-horizontal">
        <button class="button button-block button-positive "><i class="icon ion-person"></i> Create Account
        </button>
      </div>
    </form>
    <div class="row padding-top">
      <div class="col col-offset-50">OR</div>
    </div>

    <div class="row padding-top padding-horizontal">
      <button class="button button-block button-positive" ng-click="googleRegistration()"><i class="fa fa-google fa-lg" aria-hidden="true"></i> Sign up with Google
      </button>
    </div>

    <div class="row padding-top">
      <div class="col col-offset-20">Already have an account? <a href="#/login">Login</a></div>
    </div>


</ion-view>
