/*Registration Template*/

#logo {
  font-size: 30px;
}
#head {
  height: 50px;
  margin-top: 20px;
  font-family: 'Open Sans', arial;
}

/*Validation colors for Registration page*/


/*This is for success validation*/

.regfail {
  border-left-color: #d9534f;
  border-left-width: 4px;
}

/*This is for success validation*/

.regsuccess {
  border-left-color: #5cb85c;
  border-left-width: 4px;
}

/*end of validation for REgistration page*/


/*End of Registration template*/


/*Login Template*/

#loginHeader {
  padding: 80px 0px;
}
.item.item-input.loginTextbox {
  border-radius: 20px;
  padding-left: 18px;
  position: relative;
}
.item.item-input.item-floating-label.loginTextbox input {
  padding-left: 12px;
  height: 22px !important;
  font-size: 18px;
  padding-top: 0px !important;
}
.input-label.loginLabel {
  font-size: 13px !important;
  height: 18px;
  padding-left: 18px;
  color: #adad85;
}
.button.button-block.button-positive.loginButton {
  border-radius: 18px;
}

/*Validation colors for login page*/


/*This is for success validation*/

.success {
  border-color: #5cb85c;
  border-width: 2px;
}
#userSuccess {
  color: #5cb85c;
}
#passSuccess {
  color: #5cb85c;
}

/*This is for failure validation*/

.fail {
  border-color: #d9534f;
  border-width: 2px;
}
#userFail {
  color: #d9534f;
}
#passFail {
  color: #d9534f;
}

/*end of validation for login page*/


/*end of login template*/

/*.card{
  margin-top:100px;
}*/
.card{
  background-color:#cfcfcf;
  margin-top:100px;
}

.button::after{
  font-weight: 900;
  font-size: larger;
}
.ion-ios-compose::before{
  font-weight: bold;
  font-size: larger;
}

.round-button {
	width:25%;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;

    background: #4679BD;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
